[submodule ".vim/pack/themes/opt/solarized8"]
	path = .vim/pack/themes/opt/solarized8
	url = https://github.com/lifepillar/vim-solarized8
[submodule ".vim/pack/plugins/start/auto-pairs"]
	path = .vim/pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule ".vim/pack/plugins/start/deoplete"]
	path = .vim/pack/plugins/start/deoplete
	url = https://github.com/Shougo/deoplete.nvim
[submodule ".vim/pack/plugins/start/deoplete-clang"]
	path = .vim/pack/plugins/start/deoplete-clang
	url = https://github.com/zchee/deoplete-clang
[submodule ".vim/pack/plugins/start/neoinclude"]
	path = .vim/pack/plugins/start/neoinclude
	url = https://github.com/Shougo/neoinclude.vim
[submodule ".vim/pack/plugins/start/neovim-rpc"]
	path = .vim/pack/plugins/start/neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule ".vim/pack/plugins/start/neovim-yarp"]
	path = .vim/pack/plugins/start/neovim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule ".vim/pack/plugins/start/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/start/vim-wakatime"]
	path = .vim/pack/plugins/start/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime
[submodule ".vim/pack/plugins/start/vimtex"]
	path = .vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule ".vim/pack/themes/opt/vim-colors-solarized"]
	path = .vim/pack/themes/opt/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/pack/plugins/start/vim-airline-themes"]
	path = .vim/pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/plugins/start/deoplete-clang2"]
	path = .vim/pack/plugins/start/deoplete-clang2
	url = https://github.com/tweekmonster/deoplete-clang2
[submodule ".vim/pack/plugins/start/deoplete-jedi"]
	path = .vim/pack/plugins/start/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi
[submodule ".vim/pack/plugins/start/vim-markdown"]
	path = .vim/pack/plugins/start/vim-markdown
	url = https://github.com/gabrielelana/vim-markdown
[submodule ".vim/pack/plugins/start/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule ".vim/pack/themes/opt/darcula"]
	path = .vim/pack/themes/opt/darcula
	url = https://github.com/blueshirts/darcula
