[submodule "home-manager"]
	path = imports/home-manager
    url = https://github.com/rycee/home-manager
[submodule "imports/nixpkgs-unstable"]
	path = imports/nixpkgs-unstable
	url = https://github.com/nixos/nixpkgs
