[submodule "imports/nixpkgs-overlays"]
	path = imports/nixpkgs-overlays
    url = https://github.com/SeTSeR/nixpkgs-overlays
[submodule "home-manager"]
	path = imports/home-manager
    url = https://github.com/rycee/home-manager
